#addTaskContainer #taskForm {
  display: flex;
  gap: 24px;
  padding: 0 104px;
  padding-bottom: 24px;
  height: 610px;
  width: 1128px;
}

#addTaskContainer .left_form,
#addTaskContainer .right_form,
#addTaskContainer .priority,
#addTaskContainer .assignee,
#addTaskContainer .category,
#addTaskContainer .subtask,
#addTaskContainer .priority_assignee {
  display: flex;
  flex-direction: column;
}

#priority {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

#addTaskContainer .left_form {
  width: 50%;
  gap: 8px;
}

#addTaskContainer .left_form section {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  gap: 8px;
}

#addTaskContainer #description {
  width: 464px;
  max-width: 100%;
}

#addTaskContainer .right_form {
  width: 50%;
  gap: 24px;
}

#addTaskContainer .priority,
#addTaskContainer .assignee,
#addTaskContainer .category,
#addTaskContainer .subtask {
  gap: 8px;
}

.form_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: auto;
}

.form_buttons_none {
  display: none;
}

.d_none {
  display: none !important;
}

#addTaskContainer label span {
  color: #ff0000;
}

.taskForm_maxHeight {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 40px;
}

#addTaskContainer hr {
  height: 424px;
  border-top: 1px solid #d1d1d1;
}

@media(min-width: 1251px) and (max-width:1370px) {
  #addTaskContainer #taskForm {
    width: 1016px;
  }
}

@media(min-width: 1160px) and (max-width:1250px) {
  #addTaskContainer #taskForm {
    width: 888px;
    height: 536px;
    padding: 0 40px;
  }

  .main_header {
    padding: 64px 40px;
  }
}

@media(min-width: 1116px) and (max-width:1159px) {
  #addTaskContainer #taskForm {
    width: 864px;
    height: 576px;
    padding: 0 40px;
  }

  .main_drag_and_drop {
    padding: 0 16px;
  }

  .main_header {
    padding: 40px 40px;
  }

  #addTaskContainer .left_form {
    width: 320px;
  }

  #addTaskContainer .right_form {
    width: 320px;
  }
}

@media(min-width: 320px) and (max-width:1115px) {

  #addTaskContainer #taskForm {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: static;
    width: 100%;
    padding: 0 16px;
    width: 100%;
    height: auto;
    gap: 8px;
  }

  #addTaskContainer .left_form {
    width: 100%;
    padding: 0;
    gap: 0;
  }

  #addTaskContainer #description {
    width: 100%;
    max-width: none;
  }

  #addTaskContainer .hr_add_task_none {
    display: none;
  }

  #addTaskContainer .right_form {
    width: 100%;
    padding: 0;
    justify-content: start;
  }

  #addTaskContainer .priority {
    width: 100%;
  }
}