https://www.figma.com/file/3qlJ22yFozngW2gdOfczMe/Join-Version-1-(Final-version)?type=design&node-id=0-1&mode=design

https://docs.google.com/document/d/1KCwgIxedHiCzguBIEh0mOvtyHGV8GkDbFp-_hFCtT54/edit?tab=t.0#heading=h.dlsi2qyzpwhl