.board_main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main_header {
    /*position: absolute;
    top: 206px;
    left: 328px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /*gap: 8px;*/
    padding: 80px 64px;
    padding-bottom: 48px;
}

.input_wrapper_direction {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 520px;
}

.main_drag_and_drop {
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 100%;
    padding: 0 64px;
}

.drag_content_gap {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.drag_area_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.drag_area {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 50px;
}

/** Hintergrund Farbe wenn die Elemente über den DivContainer liegen 
.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}**/

.no_task_text {
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(231, 231, 231, 1);
    border: 1px dashed rgba(168, 168, 168, 1);
    border-radius: 10px;
    color: rgba(168, 168, 168, 1);
    padding: 24px;
}

.task {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 16px;
    margin-bottom: 16px;
}