.contact_main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* contact_list */
.contact_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 560px;
    background-color: rgba(255, 255, 255, 1);
    padding: 24px 0;
}

.add_contact_icon {
    width: 32px;
    height: 32px;
}

.contact_list_scrollmethode {
    overflow-y: auto;
    max-height: 100%;
    padding: 0 32px;
}

.background_add_contact_button {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 16px 0;
}

.list_content {
    width: 100%;
}

.list {
    border-collapse: collapse;
    width: 100%;
}

.prename_first_letter {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding: 0 20px;
    padding-top: 24px;
    padding-bottom: 16px;
}

.horizontal_divider {
    border-bottom: 1px solid rgba(209, 209, 209, 1);
}

.contact_person {
    padding-top: 8px;
}

.contact_wrapper {
    display: flex;
    gap: 40px;
    border-radius: 12px;
    cursor: pointer;
    padding: 16px 8px;
    color: black;
}

.contact_wrapper:hover {
    background-color: rgba(209, 209, 209, 1);
    color: black;
}

.contact_wrapper_active {
    background-color: rgba(42, 54, 71, 1);
    color: white;
}

.contact_initials {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.contact_main_framework {
    height: calc(100vh - 96px);
}

.contact_initials_bg {
    display: inline-block;
    line-height: 42px;
    text-align: center;
    height: 42px;
    width: 42px;
    border-radius: 100%;
    border: 2px solid white;
}

.contact_name_and_email {
    padding-left: 40px;
}

.contact_name {
    font-size: 20px;
    font-weight: 400;
}

.contact_email {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 124, 238, 1);
}
@media(min-width: 1160px) and (max-width:1250px) {
    .contact_list {
        width: 360px;
    }

    .contact_list_scrollmethode {
        width: 100%;
    }

    .contact_content_header_and_slogan {
        gap: 8px;
    }
}

@media(min-width: 1116px) and (max-width:1159px) {
    .contact_list {
        width: 320px;
    }

    .contact_list_scrollmethode {
        width: 100%;
        padding: 0 16px;
    }
}

@media(min-width: 320px) and (max-width:1115px) {
    .background_add_contact_button {
        display: none;
    }

    .contact_list {
        width: 100%;
        padding: 0;
    }

    .contact_list_scrollmethode {
        width: 100%;
        padding: 0 16px;
        max-height: 100%;
    }

    .contact_main_framework {
        height: calc(100vh - 176px);
    }
}