* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
}

ul {
  list-style-type: none;
}

ol {
  padding-left: 32px;
}

body {
  display: flex;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 61px;
  font-weight: 700;
}

h2 {
  font-size: 47px;
  font-weight: 500;
}

h3 {
  font-size: 27px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

mark {
  color: rgba(41, 171, 226, 1);
  background-color: #f6f7f8;
}

a {
  text-decoration: none;
  color: rgba(205, 205, 205, 1);
}

label {
  font-size: 20px;
  color: #2a3647;
}

@media(min-width: 320px) and (max-width:980px) {
  h1 {
    font-size: 47px;
  }

  h2 {
    font-size: 27px;
    font-weight: 700;
    hyphens: auto;
  }

  label {
    font-size: 16px;
  }
}