.main_header {
  position: absolute;
  top: 206px;
  left: 328px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.main_header hr {
  width: 59px;
  border: none;
  transform: rotate(90deg);
  border-top: 3px solid #29abe2;
  border-radius: 2px;
}

.main_header p {
  font-size: 27px;
  color: #2a3647;
}

.key_matix {
  position: absolute;
  top: 335px;
  left: 328px;
  width: 560px;
  height: 562px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.todo_done {
  display: flex;
  justify-content: space-between;
}

.to_do,
.done {
  width: 264px;
  height: 168px;
  background: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#to_do_count,
#done_count {
  font-size: 64px;
  font-weight: 600;
  color: #000000;
  text-align: center;
}

#to_do_count span,
#done_count span {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  color: #000000;
}

.icons {
  width: 40px;
  height: 40px;
}

.urgent {
  width: 100%;
  height: 168px;
  background: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.tasks {
  display: flex;
  gap: 24px;
}

.hr_mobile {
  display: none;
  rotate: 90deg;
}

#urgent_count {
  font-size: 64px;
  font-weight: 600;
  color: #000000;
  text-align: center;
}

#urgent_count span {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  color: #000000;
}

.urgent hr {
  width: 102px;
  border: none;
  transform: rotate(90deg);
  border-top: 3px solid #d1d1d1;
  border-radius: 2px;
}

#deadline {
  font-size: 21px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 13px;
  color: #000000;
}

#deadline span {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.tasks_in_board,
.tasks_in_progress,
.awaiting_feedback {
  width: 168px;
  height: 168px;
  background: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#board_count,
#progress_count,
#feedback_count {
  font-size: 64px;
  font-weight: 600;
  color: #000000;
}

#board_count span,
#progress_count span,
#feedback_count span {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  color: #000000;
}


#good_morning {
  position: absolute;
  top: 547.5px;
  left: 968px;
}

.user_name {
  font-size: 64px;
  font-weight: 700;
  color: #29abe2;
}

@media(min-width: 320px) and (max-width:850px) {
  .main_header {
    position: static;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    padding: 24px 16px;
  }

  .respo_header_text_size {
    font-size: 20px;
  }

  .hr_desktop {
    display: none;
  }

  .hr_mobile {
    display: block;
  }

  #good_morning {
    display: none;
  }

  .key_matix {
    position: static;
    align-items: center;
    padding: 24px 16px;
    width: 100%;
    height: auto;
  }

  .todo_done {
    gap: 36px;
  }

  .to_do,
  .done {
    width: 130px;
    height: 110px;
  }

  #to_do_count,
  #done_count {
    font-size: 47px;
  }

  #to_do_count span,
  #done_count span {
    font-size: 16px;
  }

  .urgent {
    width: auto;
    height: 110px;
    padding: 16px;
    gap: 0;
  }

  #urgent_count {
    font-size: 47px;
  }

  #urgent_count span {
    font-size: 16px;
  }

  #deadline {
    font-size: 16px;
  }

  #deadline span {
    font-size: 16px;
  }

  .tasks {
    gap: 8px;
  }

  .tasks_in_board {
    height: 116px;
    width: 96px;
  }

  #board_count {
    font-size: 47px;
  }

  #board_count span {
    font-size: 16px;
  }

  .tasks_in_progress {
    height: 116px;
    width: 96px;
  }

  #progress_count {
    font-size: 47px;
  }

  #progress_count span {
    font-size: 16px;
  }

  .awaiting_feedback {
    height: 116px;
    width: 96px;
  }

  #feedback_count {
    font-size: 47px;
  }

  #feedback_count span {
    font-size: 16px;
  }
}