ul.index {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 24px ;
}

.privacy_policy_main {
  overflow-y: auto;
}

.index-link {
  color: rgba(41, 171, 226, 1);
}

.index-link:hover {
  color: #555555;
}